<!-- Confirmación de Inicio de Sesión -->
<div class="bg-white rounded-lg shadow-lg p-6 m-4">
    <h2 class="text-2xl font-semibold mb-2 tracking-wider">¡Gracias por Iniciar Sesión en Travelifico!</h2>
    <p class="text-gray-600 mb-4">Has recibido un regalo de bienvenida de 300 puntos.</p>
    <a href="/reservationConfirmation" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300 inline-block transform hover:translate-y-1 hover:shadow-xl">Continuar con tu Reservación</a>
</div>
